.gallery-container {
    background-color: white;
}

.gallery {
    .gallery-box {
        margin: 1rem;
        border-radius: $border-radius;
        @include media-breakpoint-up(md) {
            display: inline-block;
            margin: 0rem;
            max-width: 20rem;
            overflow: hidden;
        }
        .gallery-box-img {
            display: flex;
            align-items: center;
            object-fit: cover;
            width: 100%;
            height: auto;
            @include media-breakpoint-up(md) {
                height: 12rem;
            }
        }
    }
}